.effect-editor {
  gap: 12px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px 6px 6px;
  border-bottom: 1px white solid;
  align-items: center;
}

.effect-editor-container {
  overflow: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  gap: 6px;
}

.aura-effects-editor {
  flex-basis: 100%;
  align-items: flex-start;
  margin-left: 44px;
}