.view-input-title {
  min-width: 150px;
  text-align: start;
}

.view-input {
  width: 100%;
}

.effect-param {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}