.sprite-rotator {
  position: relative;
}

.dir-clock {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hex {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sprite-image-container {
  overflow: clip;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 16px;
  min-height: 16px;
}

.sprite-direction-config {
  padding: 2px 6px;
}

.sprite-current-direction {
  border: 1px solid white;
  border-radius: 6px;
  background-color: #333;
}