.App {
  background-color: black;
  min-height: 100vh;
  color: white;
  line-height: 24px;
}

select, button, input{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

select {
  cursor: pointer;
  height: 24px;
  border: solid 1px #aaa;
  border-radius: 6px;
  background-color: black;
  color: white;
}

button {
  min-height: 24px;
  min-width: 24px;
  line-height: 18px;
  border: solid 1px #aaa;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}
button:active {
  background-color: #888;
}

input {
  line-height: 20.4px;
  padding: 1px 4px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: solid 1px #aaa;
}

input[type="number"] {
  width: 60px;
}
input[type="color"] {
  height: 24px;
  min-width: 60px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 1px solid currentColor;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
input[type="checkbox"]::before {
  content: "";
}
input[type="checkbox"]:checked::before {
  content: "✔";
}

.hflex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  white-space: nowrap;
}

.vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  white-space: nowrap;
  gap: 6px;
}

.nogap {
  gap: 0px;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(100,100,100,0.4);
}
div::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(120,120,120,0.8);
}
div::-webkit-scrollbar-thumb:hover{
  background: rgba(120,120,120,0.9);
}
div::-webkit-scrollbar-thumb:active{
  background: rgba(120,120,120,1);
}