.App {
  background-color: black;
  min-height: 100vh;
  color: white;
  line-height: 24px;
}

select, button, input{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

select {
  cursor: pointer;
  height: 24px;
  border: solid 1px #aaa;
  border-radius: 6px;
  background-color: black;
  color: white;
}

button {
  min-height: 24px;
  min-width: 24px;
  line-height: 18px;
  border: solid 1px #aaa;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}
button:active {
  background-color: #888;
}

input {
  line-height: 20px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: solid 1px #aaa;
}

.hflex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  white-space: nowrap;
}

.vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  white-space: nowrap;
  gap: 6px;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(100,100,100,0.4);
}
div::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(120,120,120,0.8);
}
div::-webkit-scrollbar-thumb:hover{
  background: rgba(120,120,120,0.9);
}
div::-webkit-scrollbar-thumb:active{
  background: rgba(120,120,120,1);
}