.App {
  background-color: black;
  min-height: 100vh;
  color: white;
  line-height: 24px;
}

select {
  cursor: pointer;
  height: 24px;
  border: solid 1px #aaa;
  border-radius: 6px;
  background-color: black;
  color: white;
}

button {
  min-height: 24px;
  min-width: 24px;
  line-height: 18px;
  border: solid 1px #aaa;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}
button:active {
  background-color: #888;
}

input {
  line-height: 20px;
}

.hflex {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  white-space: nowrap;
  gap: 6px;
}
