.dir-viewer-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 360px;
  height: calc(100vh - 24px);
  border-right: 1px solid gray;
}

.file-adder {
  display: inline-flex;
  gap: 6px;
  min-width: 100%;
  justify-content: flex-start;
}

.node {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  gap: 6px;
  min-width: 100%;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
}

.node:hover {
  background-color: rgba(100, 100, 100, 0.4);
}

.node:active {
  background-color: rgba(100, 100, 100, 0.5);
}

.node:hover .delete-file-icon{
  pointer-events: all;
  color: rgba(0,0,0,1);
}

.selected-item {
  background-color: rgba(0, 0, 255, 0.4);
}
.selected-item:hover {
  background-color: rgba(0, 0, 255, 0.4);
}
.selected-item:active {
  background-color: rgba(0, 0, 255, 0.5);
}