.dir-viewer-container {
  overflow: auto;
  width: 360px;
  max-height: calc(100vh - 24px);
}

.file-adder {
  gap: 6px;
  justify-content: flex-start !important;
}

.node {
  user-select: none;
  cursor: pointer;
}

.node:hover {
  background-color: rgba(100, 100, 100, 0.4);
}

.node:active {
  background-color: rgba(100, 100, 100, 0.5);
}

.selected-file {
  background-color: rgba(0, 0, 255, 0.6);
}
.selected-file:hover {
  background-color: rgba(0, 0, 255, 0.6);
}
.selected-file:active {
  background-color: rgba(0, 0, 255, 0.6);
}