.menu-container {
  font-size: 18px;
  border-radius: 0 0 6px 0;
  border: solid 1px black;
  pointer-events: all;
  background-color: white;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.delimiter {
  margin: 8px;
  height: 1px;
  width: calc(100% - 16px);
  background-color: #777;
}

.selected {
  padding: 2px 8px;
  user-select: none;
  cursor: pointer;
  background-color: #ddd;
}

.menu-item {
  padding: 2px 8px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.menu-item:hover {
  background-color: #eee;
}
.menu-item:active {
  background-color: #ddd;
}

.last-item {
  border-radius: 0 0 6px 0;
}

.rotate-item{
  padding-inline-start: 8px;
  display: flex;
}