.tools-container {
  font-size: 18px;
  padding: 8px;
  border-radius: 0 6px 6px 0;
  border: solid 1px black;
  pointer-events: all;
  background-color: white;
  color: black;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.btn {
  user-select: none;
  border: solid 1px black;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: #eee;
}
.btn:active {
  background-color: #ddd;
}

.tool {
  display: block;
  width: 100%;
  padding: 2px 6px;
}

.selectedBtn {
  user-select: none;
  border: solid 1px black;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ddd;
}