.unit-selector-container {
  position: absolute;
  z-index: 1;
  left: 178px;
  top: 50%;
  padding: 8px;
  transform: translateY(-50%);
  border-radius: 6px;
  border: solid 1px black;
  background-color: white;
}

.labelBtn {
  cursor: pointer;
}
.labelBtn:hover {
  background-color: #eee;
}
.labelBtn:active {
  background-color: #ddd;
}

.selectedLabelBtn {
  user-select: none;
  cursor: pointer;
  background-color: #ddd;
}