.unit-selection-container {
  left: unset;
  right: 0;
  border-radius: 6px 0 0 6px;
  border-left-width: 1px;
  font-size: 16px;
}

.num-input {
  margin: 0 6px;
  width: 30px;
  text-align: center;
}

.buff-list {
  width: 100%;
  min-height: 24px;
  max-height: 100px;
}